:root {
    --changingHue: 156;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background: #fff;
    font-family: sans-serif;
}
.section {
    padding: 10em;
    box-sizing: border-box;
}
.section-1 {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(#88F1C7,#85B8C8);*/
    background: linear-gradient(hsl(var(--changingHue), 79%, 74%),hsl(calc(var(--changingHue) + 38), 38%, 65%));
    position: fixed;
}
.section-2 {
    margin-top: 100vh;
    position: relative;
    background: #fff;
    min-height: 100%;
}
.section-1 .name {
    color: RGBa(255,255,255,0.8);
}
.actual-name-xd {
    /*color: #5F72D4;*/
    color: hsl(var(--changingHue), 40%, 40%);
}
.project-heading {
    /*color: #5F8DF9;*/
    color: hsl(var(--changingHue), 30%, 50%);
    margin-left: 0.5em;
}
.header {
    transition: 0.2s ease;
}
h1, h2 {
    margin: 0;
}
h1 {
    font-size: 10em;
    text-shadow: 0 3px 6px RGBa(0,0,0,0.16); 
}
.section-1 .info {
    color: #fff;
}
.section-2 .info {
    color: RGBa(0,0,0,0.55);
}
.info {
    font-size: 2em;
    max-width: 50%;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vw 15vw;
    grid-gap: 2em;
}
.project-container {
    background: linear-gradient(50deg,hsl(var(--changingHue), 30%, 40%),hsl(calc(var(--changingHue) + 10), 30%, 50%));
    border-radius: 1em;
    box-shadow: 0 3px 6px RGBa(0,0,0,0.16);
    overflow: hidden;
    position: relative;
    color: #fff;
    text-shadow: 0 1px 3px RGBa(0,0,0,0.6)
}
.project-container.pseudo {
    text-decoration: none;
    background: #fff;
}
.project-container.pseudo::before {
    position: absolute;
    content: "";
    display: block;
    background: linear-gradient(50deg,hsl(var(--changingHue), 30%, 40%),hsl(calc(var(--changingHue) + 10), 30%, 50%));
    height: 100%;
    width: 100%;
    transition: 0.2s ease;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.project-container.pseudo span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    font-weight: bold;
}
.project-container.pseudo:hover::before {
    opacity: 0;
    width: 40%;
    height: 40%;
}
.project-container.pseudo:hover span {
    background: linear-gradient(50deg,hsl(var(--changingHue), 30%, 50%),hsl(calc(var(--changingHue) + 50), 30%, 60%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}
.project-image {
    width: 100%;
    position: absolute;
    transition: 0.2s ease;
}
.project-info {
    background: linear-gradient(50deg,hsl(var(--changingHue), 30%, 40%),hsl(calc(var(--changingHue) + 10), 30%, 50%));
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 3px 10px RGBa(0,0,0,0.16);
    transition: 0.25s ease;
    box-sizing: border-box;
    height: 5vw;
}
.project-name {
    transition: 0.25s ease;
}
.project-container.open {
    box-shadow: 0 1px 3px RGBa(0,0,0,0.16);
}
.project-container.open .project-info {
    height: 100%;
    background: #fff;
}
.project-container.open .project-name {
    color: hsl(var(--changingHue), 30%, 40%);
    text-shadow: 0 1px 1px #000;
    font-size: 3em;
}
.project-container.open .language {
    text-shadow: 0 1px 1px #000;
    background: hsla(var(--changingHue), 30%, 40%,0.7);
}
.project-container.open .project-image {
    opacity: 0;
}
.project-container.open .project-description,
.project-container.open .project-links {
    display: block;
}
.project-description {
    color: #777;
}
.project-description,
.project-links {
    display: none;
    text-shadow: none;
}
.project-links a {
    text-decoration: none;
    color: hsla(var(--changingHue), 30%, 20%,0.7);
    font-weight: bold;
    display: block;
    position: relative;
    padding: 4px;
    width: fit-content;
}
.project-links a::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    background: linear-gradient(50deg,hsl(var(--changingHue), 30%, 40%),hsl(calc(var(--changingHue) + 10), 30%, 60%));
    border-radius: 3px;
    opacity: 0;
    transition: 0.2s ease;
}
.project-links a:hover span {
    position: relative;
    color: hsla(var(--changingHue), 30%, 90%,0.9);
}
.project-links a:hover::before {
    opacity: 1;
    height: 100%;
    width: 100%;
}
.language {
    padding: 2px 5px;
    background: RGBa(0,0,0,0.2);
    margin-right: 5px;
    font-weight: 600;
}
