:root {
    --changingHue: 156;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background: #fff;
    font-family: sans-serif;
    background: linear-gradient(hsl(var(--changingHue), 79%, 74%),hsl(calc(var(--changingHue) + 38), 38%, 65%));
    background-attachment: fixed;
}
.section {
    padding: 10em;
    box-sizing: border-box;
    width:100%;
}
.section-1 {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(#88F1C7,#85B8C8);*/
    background: linear-gradient(hsl(var(--changingHue), 79%, 74%),hsl(calc(var(--changingHue) + 38), 38%, 65%));
    position: fixed;
}
.section-2 {
    margin-top: 100vh;
    position: relative;
    background: #fff;
    min-height: 100%;
}
.section-1 .name {
    color: RGBa(255,255,255,0.8);
}
.actual-name-xd {
    /*color: #5F72D4;*/
    color: hsl(var(--changingHue), 40%, 40%);
}
.project-heading {
    /*color: #5F8DF9;*/
    color: hsl(var(--changingHue), 30%, 50%);
    margin-left: 0.5em;
}
.header {
    transition: 0.2s ease;
}
h1, h2 {
    margin: 0;
}
h1 {
    font-size: 10em;
    text-shadow: 0 3px 6px RGBa(0,0,0,0.16); 
}
.section-1 .info {
    color: #fff;
}
.section-2 .info {
    color: RGBa(0,0,0,0.55);
}
.info {
    font-size: 2em;
    max-width: 50%;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vw 15vw;
    grid-gap: 2em;
}
.project-container {
    background: linear-gradient(50deg,hsl(var(--changingHue), 30%, 40%),hsl(calc(var(--changingHue) + 10), 30%, 50%));
    border-radius: 1em;
    box-shadow: 0 3px 6px RGBa(0,0,0,0.16);
    overflow: hidden;
    position: relative;
    color: #fff;
    text-shadow: 0 1px 3px RGBa(0,0,0,0.6)
}
.project-container.pseudo {
    text-decoration: none;
    background: #fff;
}
.project-container.pseudo::before {
    position: absolute;
    content: "";
    display: block;
    background: linear-gradient(50deg,hsl(var(--changingHue), 30%, 40%),hsl(calc(var(--changingHue) + 10), 30%, 50%));
    height: 100%;
    width: 100%;
    transition: 0.2s ease;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.project-container.pseudo span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    font-weight: bold;
}
.project-container.pseudo:hover::before {
    opacity: 0;
    width: 40%;
    height: 40%;
}
.project-container.pseudo:hover span {
    background: linear-gradient(50deg,hsl(var(--changingHue), 30%, 50%),hsl(calc(var(--changingHue) + 50), 30%, 60%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}
.project-image {
    width: 100%;
    position: absolute;
    transition: 0.2s ease;
}
.project-info {
    background: linear-gradient(50deg,hsl(var(--changingHue), 30%, 40%),hsl(calc(var(--changingHue) + 10), 30%, 50%));
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 3px 10px RGBa(0,0,0,0.16);
    transition: 0.25s ease;
    box-sizing: border-box;
    height: 5vw;
}
.project-name {
    transition: 0.25s ease;
}
.project-container.open {
    box-shadow: 0 1px 3px RGBa(0,0,0,0.16);
}
.project-container.open .project-info {
    height: 100%;
    background: #fff;
}
.project-container.open .project-name {
    color: hsl(var(--changingHue), 30%, 40%);
    text-shadow: 0 1px 1px #000;
    font-size: 3em;
}
.project-container.open .language {
    text-shadow: 0 1px 1px #000;
    background: hsla(var(--changingHue), 30%, 40%,0.7);
}
.project-container.open .project-image {
    opacity: 0;
}
.project-container.open .project-description,
.project-container.open .project-links {
    display: block;
}
.project-description {
    color: #777;
}
.project-description,
.project-links {
    display: none;
    text-shadow: none;
    background: transparent;
    transition: 0.25s ease;
}
.project-links a {
    text-decoration: none;
    color: hsla(var(--changingHue), 30%, 20%,0.7);
    font-weight: bold;
    display: block;
    position: relative;
    padding: 4px;
    width: fit-content;
}
.project-links a::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    background: linear-gradient(50deg,hsl(var(--changingHue), 30%, 40%),hsl(calc(var(--changingHue) + 10), 30%, 60%));
    border-radius: 3px;
    opacity: 0;
    transition: 0.2s ease;
}
.project-links a:hover span {
    position: relative;
    color: hsla(var(--changingHue), 30%, 90%,0.9);
}
.project-links a:hover::before {
    opacity: 1;
    height: 100%;
    width: 100%;
}
.language {
    padding: 2px 5px;
    background: RGBa(0,0,0,0.2);
    margin-right: 5px;
    font-weight: 600;
}
@media (max-height: 750px) {
    .section-1 .info {
        max-width: 70%;
        margin: 0;
    }
}
@media (max-width: 1800px) {
    .project-container.open .project-name {
        font-size: 2.3em;
    }
    .project-description {
        margin-bottom: 0;
    }
}
@media (max-width: 1680px) {
    .project-links a {
        display: inline-block;
    }
    .project-links {
        position: absolute;
        bottom: 0;
    }
    .open .project-links {
        position: absolute;
        bottom: 0;
        background: #fff;
    }
}
@media (max-width: 1600px) {
    .actual-name-xd {
        display: none;   
    }
    .project-heading {
        margin-left: 0;
    }
    .project-container.pseudo span {
        font-size: 2em;
    }
    .info {
        max-width: 70%;
    }
}
@media (max-width:1500px) {
    .projects {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20vw 20vw 20vw;
    }
    .project-info {
        height: 7vw;
    }
}
@media (max-width: 1250px) {
    .info {
        width: 100%;
    }
}
@media (max-width:1150px) {
    .section-1 .info {
        max-width: 100%;
    }
    .projects {
        grid-template-rows: unset;
        grid-auto-rows: 40vw;
        grid-template-columns: 1fr;
    }
    .project-name {
        font-size: 3em;
    }
    .project-container.open .project-name {
        font-size: 4em;
    }
    .project-container.open .tech {
        font-size: 2em;
    }
    .project-container.open .project-description {
        font-size: 1.5em;
    }
    .project-info {
        height: 10vw;
    }
    .open .project-links {
        position: relative;
        font-size: 1.5em;
    }
    .open .project-links a {
        display: block;
    }
    .project-container.pseudo {
        font-size: 2em;
    }
    .open .project-links {
        background: transparent;
    }
}
@media (max-width: 1000px) {
    .section {
        padding: 7em;
    }
    .section-1 {
        min-height: 100%;
        position: relative;
        background-attachment: fixed;
    }
    .section-2 {
        margin-top: 0;
    }
    .project-info {
        height: 12vw;
    }
    .project-container.open .project-name {
        font-size: 3.5em;
    }
    .project-container.open .tech {
        font-size: 1.5em;
    }
}
@media (max-width: 900px) {
    .project-name {
        font-size: 2em;
    }
    .project-container.pseudo span {
        font-size: 1.7em;
    }
    .project-container.open .project-name {
        font-size: 2.5em;
        margin-bottom: 0.3em;
    }
    .project-container.open .tech {
        font-size: 1.3em;
    }
    .project-description {
        margin-top: 0.3em;
    }
}
@media (max-width: 850px) {
    .name {
        font-size: 8em;
    }
    .section-1 .info {
        font-size: 1.5em;
    }
    .project-container.open .project-description {
        font-size: 1.2em;
    }
    .project-container.open .project-links {
        font-size: 1.3em;
    }
    .project-container.pseudo span {
        font-size: 1.4em;
    }
}
@media (max-width: 800px) {
    .project-container.pseudo span {
        font-size: 1.5em;
    }
    .section-1 {
        padding: 10em 7em;
    }
}
@media (max-height:500px) {
    .section-1 {
        padding: 5em 7em;
    }
}
@media (max-width: 720px) {
    .name {
        font-size: 6em;
    }
    .project-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .project-container.pseudo span {
        font-size: 1.2em;
    }
    .project-info {
        height: 15vw;
    }
}
@media (max-width:700px) {
    .project-container {
        font-size: 13px; /* It took me until now to finally use ems properly xd */
    }
}
@media (max-width: 600px) {
    .section {
        padding: 4em; /* and I'm back to using them improperly 💀 */
    }
    .project-info {
        font-size: 12px;
    }
    .project-container.open .project-name {
        margin-bottom: 0;
    }
    .project-container.open .tech {
        font-size: 1em;
    }
}
@media (max-width: 500px) {
    .section-1 .name {
        font-size: 4.5em;
    }
    .section-1 .info {
        font-size: 1.3em;
    }
    .section-2 {
        font-size: 11px;
    }
    .project-info {
        padding: 1em;
    }
    .section-1 {
        position: relative;
    }
    .section-1 .header {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}
@media (max-width: 450px) {
    .projects {
        grid-auto-rows: 45vw;
    }
    .project-description {
        height: 40%;
        position: relative;
        overflow: hidden;
    }
    .project-description::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        background: linear-gradient(transparent,#fff);
        height: 2em;
        width: 100%;
        opacity: 0;
        transition: 0.25s ease;
        transition-delay: 10.2s;
    }
    .open .project-description::after {
        opacity: 1;
    }
    .project-container.open .project-links {
        margin: 0;
        font-size: 1.2em;
    }
    .section {
        padding: 2em;
    }
    .section-1 .name {
        font-size: 3.6em;
    }
    .header {
        width:80%;
    }
}
@media (max-width:400px) {
    .name, .info {
        text-shadow: 0 2px RGBa(0,0,0,0.14);
    }
    .projects {
        grid-auto-rows: 50vw;
    }
    .project-info {
        height: 20vw;
    }
    .project-container {
        border-radius: 5px;
    }
}
@media (max-width:350px) {
    .open .project-links a {
        display: inline-block;
    }
}
@media (max-width: 300px) {
    .section-2 .name {
        font-size: 4.6em;
    }
    .project-info {
        height: 25vw;
    }
    .project-name {
        font-size: 1.8em;
    }
}